USE [master]
GO
/****** Object:  Database [QLST]    Script Date: 1/10/2024 11:35:27 PM ******/
CREATE DATABASE [QLST]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLST]
GO
/****** Object:  Table [dbo].[CHUC_VU]    Script Date: 1/10/2024 11:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUC_VU](
	[MaCV] [int] IDENTITY(1,1) NOT NULL,
	[TenCV] [nvarchar](50) NULL,
	[CapQuanLy] [bit] NULL,
	[MoTa] [nvarchar](1000) NULL,
 CONSTRAINT [PK_CHUC_VU] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HOA_DON_BAN]    Script Date: 1/10/2024 11:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOA_DON_BAN](
	[MaCTHDB] [int] IDENTITY(1,1) NOT NULL,
	[MaHDB] [varchar](50) NULL,
	[MaSP] [int] NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [bigint] NULL,
 CONSTRAINT [PK_CT_HOA_DON_BAN] PRIMARY KEY CLUSTERED 
(
	[MaCTHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HOA_DON_NHAP]    Script Date: 1/10/2024 11:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOA_DON_NHAP](
	[MaCTHDN] [int] IDENTITY(1,1) NOT NULL,
	[MaHDN] [varchar](50) NULL,
	[MaSP] [int] NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [bigint] NULL,
 CONSTRAINT [PK_CT_HOA_DON_NHAP] PRIMARY KEY CLUSTERED 
(
	[MaCTHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON_BAN]    Script Date: 1/10/2024 11:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON_BAN](
	[MaHDB] [varchar](50) NOT NULL,
	[MaKH] [int] NULL,
	[MaNV] [int] NULL,
	[TongTien] [bigint] NULL,
	[ThoiGian] [date] NULL,
 CONSTRAINT [PK_HOA_DON_BAN] PRIMARY KEY CLUSTERED 
(
	[MaHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON_NHAP]    Script Date: 1/10/2024 11:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON_NHAP](
	[MaHDN] [varchar](50) NOT NULL,
	[MaNCC] [int] NULL,
	[MaNV] [int] NULL,
	[TongTien] [bigint] NULL,
	[ThoiGian] [date] NULL,
 CONSTRAINT [PK_HOA_DON_NHAP] PRIMARY KEY CLUSTERED 
(
	[MaHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 1/10/2024 11:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[SDT] [varchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[MaGiamGia] [varchar](50) NULL,
	[TichDiem] [int] NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_SAN_PHAM]    Script Date: 1/10/2024 11:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_SAN_PHAM](
	[MaLoaiSP] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiSP] [nvarchar](100) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_LOAI_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MA_GIAM_GIA]    Script Date: 1/10/2024 11:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MA_GIAM_GIA](
	[MaGiamGia] [varchar](50) NOT NULL,
	[TenChuongTrinh] [nvarchar](100) NULL,
	[PhanTram] [int] NULL,
	[NgayTao] [date] NULL,
	[NgayHetHan] [date] NULL,
	[TrangThai] [bit] NULL,
	[MoTa] [nvarchar](100) NULL,
 CONSTRAINT [PK_MA_GIAM_GIA] PRIMARY KEY CLUSTERED 
(
	[MaGiamGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 1/10/2024 11:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](1000) NULL,
	[SDT] [varchar](50) NULL,
	[MaLoaiSP] [int] NULL,
 CONSTRAINT [PK_NHA_CUNG_CAP] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 1/10/2024 11:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[CanCuoc] [varchar](50) NULL,
	[SDT] [varchar](50) NULL,
	[Email] [text] NULL,
	[DiaChi] [nvarchar](1000) NULL,
	[MaCV] [int] NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 1/10/2024 11:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](3000) NULL,
	[MaLoaiSP] [int] NULL,
	[SoLuong] [int] NULL,
	[GiaNhap] [int] NULL,
	[GiaBanLe] [int] NULL,
	[HanSuDung] [date] NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 1/10/2024 11:35:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[MaNV] [int] NOT NULL,
	[TenTaiKhoan] [varchar](100) NOT NULL,
	[MatKhau] [varchar](100) NULL,
 CONSTRAINT [PK_TAI_KHOAN_1] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHUC_VU] ON 

INSERT [dbo].[CHUC_VU] ([MaCV], [TenCV], [CapQuanLy], [MoTa]) VALUES (1, N'Quản Lý Khu A', 1, N'Quản lý toàn bộ khu vực A')
INSERT [dbo].[CHUC_VU] ([MaCV], [TenCV], [CapQuanLy], [MoTa]) VALUES (2, N'Quản Lý Khu B', 1, N'Quản lý toàn bộ khu vực B')
INSERT [dbo].[CHUC_VU] ([MaCV], [TenCV], [CapQuanLy], [MoTa]) VALUES (3, N'Nhân Viên Thu Ngân Quầy A', 0, N'Nhân viên thu ngân quầy A, có nhiệm vụ xuất hóa đơn bán')
SET IDENTITY_INSERT [dbo].[CHUC_VU] OFF
GO
SET IDENTITY_INSERT [dbo].[CT_HOA_DON_BAN] ON 

INSERT [dbo].[CT_HOA_DON_BAN] ([MaCTHDB], [MaHDB], [MaSP], [SoLuong], [ThanhTien]) VALUES (15, N'q6QR0WeJ', 5550, 12, NULL)
INSERT [dbo].[CT_HOA_DON_BAN] ([MaCTHDB], [MaHDB], [MaSP], [SoLuong], [ThanhTien]) VALUES (16, N'FxMhmgjH', 5549, 1, NULL)
INSERT [dbo].[CT_HOA_DON_BAN] ([MaCTHDB], [MaHDB], [MaSP], [SoLuong], [ThanhTien]) VALUES (17, N'EwquWKmf', 6428, 1, NULL)
SET IDENTITY_INSERT [dbo].[CT_HOA_DON_BAN] OFF
GO
SET IDENTITY_INSERT [dbo].[CT_HOA_DON_NHAP] ON 

INSERT [dbo].[CT_HOA_DON_NHAP] ([MaCTHDN], [MaHDN], [MaSP], [SoLuong], [ThanhTien]) VALUES (1, N'TnzF0s5C', 5547, 22, 13178000)
INSERT [dbo].[CT_HOA_DON_NHAP] ([MaCTHDN], [MaHDN], [MaSP], [SoLuong], [ThanhTien]) VALUES (2, N'TnzF0s5C', 5550, 22, 6578000)
INSERT [dbo].[CT_HOA_DON_NHAP] ([MaCTHDN], [MaHDN], [MaSP], [SoLuong], [ThanhTien]) VALUES (3, N'TnzF0s5C', 5553, 12, 1104000)
SET IDENTITY_INSERT [dbo].[CT_HOA_DON_NHAP] OFF
GO
INSERT [dbo].[HOA_DON_BAN] ([MaHDB], [MaKH], [MaNV], [TongTien], [ThoiGian]) VALUES (N'EwquWKmf', 5, 2, 2898000, CAST(N'2024-01-10' AS Date))
INSERT [dbo].[HOA_DON_BAN] ([MaHDB], [MaKH], [MaNV], [TongTien], [ThoiGian]) VALUES (N'FxMhmgjH', 6, 2, 899000, CAST(N'2024-01-10' AS Date))
INSERT [dbo].[HOA_DON_BAN] ([MaHDB], [MaKH], [MaNV], [TongTien], [ThoiGian]) VALUES (N'ho9S9kH3', NULL, 4, 499000, CAST(N'2024-01-10' AS Date))
GO
INSERT [dbo].[HOA_DON_NHAP] ([MaHDN], [MaNCC], [MaNV], [TongTien], [ThoiGian]) VALUES (N'0uBUwbv4', 9, 1, 27920000, CAST(N'2023-06-09' AS Date))
INSERT [dbo].[HOA_DON_NHAP] ([MaHDN], [MaNCC], [MaNV], [TongTien], [ThoiGian]) VALUES (N'7m5yRb1Z', 6, 4, 29260000, CAST(N'2023-06-04' AS Date))
INSERT [dbo].[HOA_DON_NHAP] ([MaHDN], [MaNCC], [MaNV], [TongTien], [ThoiGian]) VALUES (N'7U1eXkaR', 12, 10, 8925000, CAST(N'2022-06-05' AS Date))
GO
SET IDENTITY_INSERT [dbo].[KHACH_HANG] ON 

INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [NgaySinh], [GioiTinh], [SDT], [DiaChi], [MaGiamGia], [TichDiem]) VALUES (2, N'Lê Ngọc Lan Anh', CAST(N'2003-01-01' AS Date), N'Nữ        ', N'01234567891', N'Hồ Chí Minh', N'0WebrvD1', 649)
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [NgaySinh], [GioiTinh], [SDT], [DiaChi], [MaGiamGia], [TichDiem]) VALUES (3, N'Phan Thanh Tùng', CAST(N'2002-11-02' AS Date), N'Nam       ', N'09876543210', N'Hà Nội', N'2PX4vrk0', 20)
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [NgaySinh], [GioiTinh], [SDT], [DiaChi], [MaGiamGia], [TichDiem]) VALUES (4, N'Vũ Thị Hà Linh', CAST(N'2001-01-02' AS Date), N'Nữ        ', N'09123456789', N'Đà Nẵng', N'0WebrvD1', 1)
SET IDENTITY_INSERT [dbo].[KHACH_HANG] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAI_SAN_PHAM] ON 

INSERT [dbo].[LOAI_SAN_PHAM] ([MaLoaiSP], [TenLoaiSP], [TrangThai]) VALUES (1, N'Đồ Gia Dụng', 1)
INSERT [dbo].[LOAI_SAN_PHAM] ([MaLoaiSP], [TenLoaiSP], [TrangThai]) VALUES (2, N'Phụ Kiện Xe', 0)
INSERT [dbo].[LOAI_SAN_PHAM] ([MaLoaiSP], [TenLoaiSP], [TrangThai]) VALUES (3, N'Đồ Điện Tử', 1)
SET IDENTITY_INSERT [dbo].[LOAI_SAN_PHAM] OFF
GO
INSERT [dbo].[MA_GIAM_GIA] ([MaGiamGia], [TenChuongTrinh], [PhanTram], [NgayTao], [NgayHetHan], [TrangThai], [MoTa]) VALUES (N'0WebrvD1', N'HE2023', 15, CAST(N'2023-06-01' AS Date), CAST(N'2023-07-31' AS Date), 1, N'Nhân viên sẽ cung cấp cho khách hàng')
INSERT [dbo].[MA_GIAM_GIA] ([MaGiamGia], [TenChuongTrinh], [PhanTram], [NgayTao], [NgayHetHan], [TrangThai], [MoTa]) VALUES (N'2PX4vrk0', N'1000DIEM', 1, CAST(N'1900-01-01' AS Date), CAST(N'1900-01-01' AS Date), 1, N'Điểm cần tích: 1000')
INSERT [dbo].[MA_GIAM_GIA] ([MaGiamGia], [TenChuongTrinh], [PhanTram], [NgayTao], [NgayHetHan], [TrangThai], [MoTa]) VALUES (N'4qLQGjXC', N'100000DIEM', 30, CAST(N'1900-01-01' AS Date), CAST(N'1900-01-01' AS Date), 1, N'Điểm cần tích: 100000')
GO
SET IDENTITY_INSERT [dbo].[NHA_CUNG_CAP] ON 

INSERT [dbo].[NHA_CUNG_CAP] ([MaNCC], [TenNCC], [DiaChi], [SDT], [MaLoaiSP]) VALUES (1, N'Xưởng Hà Nội', N'Hà Nội', N'0123456789', 1)
INSERT [dbo].[NHA_CUNG_CAP] ([MaNCC], [TenNCC], [DiaChi], [SDT], [MaLoaiSP]) VALUES (2, N'Xưởng Phụ Kiện Đông Á', N'Hồ Chí Minh', N'0987654321', 2)
INSERT [dbo].[NHA_CUNG_CAP] ([MaNCC], [TenNCC], [DiaChi], [SDT], [MaLoaiSP]) VALUES (3, N'Cảng Cát Hải', N'Hải Phòng', N'0123456789', 3)
SET IDENTITY_INSERT [dbo].[NHA_CUNG_CAP] OFF
GO
SET IDENTITY_INSERT [dbo].[NHAN_VIEN] ON 

INSERT [dbo].[NHAN_VIEN] ([MaNV], [TenNV], [NgaySinh], [GioiTinh], [CanCuoc], [SDT], [Email], [DiaChi], [MaCV]) VALUES (1, N'Nguyễn Thị Bích Phượng', CAST(N'1990-03-15' AS Date), N'Nữ', N'123456789012', N'0987654321', N'nguyenvana@example.com', N'Hà Nội', 1)
INSERT [dbo].[NHAN_VIEN] ([MaNV], [TenNV], [NgaySinh], [GioiTinh], [CanCuoc], [SDT], [Email], [DiaChi], [MaCV]) VALUES (2, N'Trần Văn Tuấn Anh', CAST(N'1985-07-25' AS Date), N'Nam', N'234567890123', N'0123456789', N'nguyenvanb@example.com', N'Hồ Chí Minh', 2)
INSERT [dbo].[NHAN_VIEN] ([MaNV], [TenNV], [NgaySinh], [GioiTinh], [CanCuoc], [SDT], [Email], [DiaChi], [MaCV]) VALUES (3, N'Lê Thị Thanh Hương', CAST(N'1992-11-08' AS Date), N'Nữ', N'345678901234', N'0987654321', N'nguyenvanc@example.com', N'Hải Phòng', 3)
SET IDENTITY_INSERT [dbo].[NHAN_VIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[SAN_PHAM] ON 

INSERT [dbo].[SAN_PHAM] ([MaSP], [TenSP], [MaLoaiSP], [SoLuong], [GiaNhap], [GiaBanLe], [HanSuDung], [TrangThai]) VALUES (5547, N'Pigeon by Stovekraft Amaze Plus Electric Kettle (14289) with Stainless Steel Body, 1.5 litre, used for boiling Water, maki...', 1, 266, 599000, 1245000, CAST(N'2028-08-16' AS Date), 1)
INSERT [dbo].[SAN_PHAM] ([MaSP], [TenSP], [MaLoaiSP], [SoLuong], [GiaNhap], [GiaBanLe], [HanSuDung], [TrangThai]) VALUES (5548, N'Pigeon Polypropylene Mini Handy and Compact Chopper with 3 Blades for Effortlessly Chopping Vegetables and Fruits for Your...', 1, 46, 199000, 545000, CAST(N'2028-10-28' AS Date), 0)
INSERT [dbo].[SAN_PHAM] ([MaSP], [TenSP], [MaLoaiSP], [SoLuong], [GiaNhap], [GiaBanLe], [HanSuDung], [TrangThai]) VALUES (5549, N'Glun Multipurpose Portable Electronic Digital Weighing Scale Weight Machine (10 Kg - with Back Light)', 1, 55, 199000, 899000, CAST(N'2029-06-01' AS Date), 1)
GO
SET IDENTITY_INSERT [dbo].[SAN_PHAM] OFF
GO
INSERT [dbo].[TAI_KHOAN] ([MaNV], [TenTaiKhoan], [MatKhau]) VALUES (1, N'PhuongNTB', N'12345678')
INSERT [dbo].[TAI_KHOAN] ([MaNV], [TenTaiKhoan], [MatKhau]) VALUES (2, N'AnhTVT', N'87654321')
INSERT [dbo].[TAI_KHOAN] ([MaNV], [TenTaiKhoan], [MatKhau]) VALUES (3, N'HuongLTT', N'abcdefgh')
GO
ALTER TABLE [dbo].[CT_HOA_DON_BAN]  WITH CHECK ADD  CONSTRAINT [FK__CT_HOA_DO__MaHDB__4E88ABD4] FOREIGN KEY([MaHDB])
REFERENCES [dbo].[HOA_DON_BAN] ([MaHDB])
GO
ALTER TABLE [dbo].[CT_HOA_DON_BAN] CHECK CONSTRAINT [FK__CT_HOA_DO__MaHDB__4E88ABD4]
GO
ALTER TABLE [dbo].[CT_HOA_DON_BAN]  WITH CHECK ADD  CONSTRAINT [FK__CT_HOA_DON__MaSP__4F7CD00D] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CT_HOA_DON_BAN] CHECK CONSTRAINT [FK__CT_HOA_DON__MaSP__4F7CD00D]
GO
ALTER TABLE [dbo].[CT_HOA_DON_NHAP]  WITH CHECK ADD  CONSTRAINT [FK__CT_HOA_DO__MaHDN__534D60F1] FOREIGN KEY([MaHDN])
REFERENCES [dbo].[HOA_DON_NHAP] ([MaHDN])
GO
ALTER TABLE [dbo].[CT_HOA_DON_NHAP] CHECK CONSTRAINT [FK__CT_HOA_DO__MaHDN__534D60F1]
GO
ALTER TABLE [dbo].[CT_HOA_DON_NHAP]  WITH CHECK ADD  CONSTRAINT [FK__CT_HOA_DON__MaSP__52593CB8] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CT_HOA_DON_NHAP] CHECK CONSTRAINT [FK__CT_HOA_DON__MaSP__52593CB8]
GO
ALTER TABLE [dbo].[HOA_DON_BAN]  WITH CHECK ADD  CONSTRAINT [FK__HOA_DON_BA__MaKH__4D94879B] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOA_DON_BAN] CHECK CONSTRAINT [FK__HOA_DON_BA__MaKH__4D94879B]
GO
ALTER TABLE [dbo].[HOA_DON_BAN]  WITH CHECK ADD  CONSTRAINT [FK__HOA_DON_BA__MaNV__4CA06362] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOA_DON_BAN] CHECK CONSTRAINT [FK__HOA_DON_BA__MaNV__4CA06362]
GO
ALTER TABLE [dbo].[HOA_DON_NHAP]  WITH CHECK ADD  CONSTRAINT [FK__HOA_DON_N__MaNCC__4AB81AF0] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MaNCC])
GO
ALTER TABLE [dbo].[HOA_DON_NHAP] CHECK CONSTRAINT [FK__HOA_DON_N__MaNCC__4AB81AF0]
GO
ALTER TABLE [dbo].[HOA_DON_NHAP]  WITH CHECK ADD  CONSTRAINT [FK__HOA_DON_NH__MaNV__4BAC3F29] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOA_DON_NHAP] CHECK CONSTRAINT [FK__HOA_DON_NH__MaNV__4BAC3F29]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD FOREIGN KEY([MaGiamGia])
REFERENCES [dbo].[MA_GIAM_GIA] ([MaGiamGia])
GO
ALTER TABLE [dbo].[NHA_CUNG_CAP]  WITH CHECK ADD  CONSTRAINT [FK__NHA_CUNG___MaLoa__0697FACD] FOREIGN KEY([MaLoaiSP])
REFERENCES [dbo].[LOAI_SAN_PHAM] ([MaLoaiSP])
GO
ALTER TABLE [dbo].[NHA_CUNG_CAP] CHECK CONSTRAINT [FK__NHA_CUNG___MaLoa__0697FACD]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD FOREIGN KEY([MaCV])
REFERENCES [dbo].[CHUC_VU] ([MaCV])
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK__SAN_PHAM__MaLoai__19AACF41] FOREIGN KEY([MaLoaiSP])
REFERENCES [dbo].[LOAI_SAN_PHAM] ([MaLoaiSP])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK__SAN_PHAM__MaLoai__19AACF41]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK__TAI_KHOAN__MaNV__66603565] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK__TAI_KHOAN__MaNV__66603565]
GO
USE [master]
GO
